* {
    box-sizing: border-box;
}


.book__link {}

.book__image {
    /* !время замедления трансформации */
   transition: 0.5s;
}
 .book__image:hover {
    /* !увеличение при наведении */
        transform: scale(1.2);
    }
.book-list {
    display: flex;
    flex-direction: column;
}

.book-list__link {
    color: red;
}

a {
    /* меняет стройный в блочный */
    display: block;
    width: 200px;
    color: red;
    font-size: 15px;
    /* *убирает нижнее подчеркивание */
    text-decoration: none;
    /* делает отступы между элементами */
    margin-bottom: 5px;
    /* замедляет скорость сдвига строки */
    transition: 0.5s;
}

a:hover {
    color: green;
}

nav a {
    font-size: 30px;
    /* рисует только нижнее подчеркивание */
    border-bottom: 7px dotted green;
}

/* подкласс для движения */
nav a:hover {
    color: green;
    border-bottom-color: red;
    /* далает отступ слева */
    margin-left: 10px;
}

.form-test {
    width: 300px;
}

input,
button {
    /* *ставить руку над кнопкой, вместо стрелочки */
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 7px red;
}

input:hover {
    box-shadow: 0 0 7px red;
}

fieldset {
    /* max ширина */
    max-width: 500px;
    /* расположение по центру страницы и отступ между блоками сверху */
    margin: 20px auto;
}

.form {}

textarea,
input {
    width: 100%;
    display: block;
    padding: 10px 20px;
}

.form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.textarea {
    min-height: 7em;
    max-height: 50vh;
    /* скрол только по вертикали */
    resize: vertical;
}

.btn {
    width: 100%;
    display: block;
    padding: 10px 20px;
}